{% extends "base.html" %}
{% load static %}

{% block content %}
  			<!-- Page Content -->
              <div class="content">
				<div class="container-fluid">

					<div class="row">
						{% include 'users/doctorsidenav.html' %}
							
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="appointments">
                                {% for appointment in appointment %}
                                  
                                
								<!-- Appointment List -->
								<div class="appointment-list">
									<div class="profile-info-widget">
										<a href="patient-profile.html" class="booking-doc-img">
											<img src="{{appointment.patient.profile_image.url}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.html">{{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}</a></h3>
											<div class="patient-details">
												
												<h5><i class="fas fa-map-marker-alt"></i> {{appointment.patient.city}}</h5>
												<h5><i class="fas fa-envelope"></i>{{appointment.patient.user.email}}</h5>
												<h5 class="mb-0"><i class="fas fa-phone"></i>{{appointment.patient.user.phone_number}}</h5>
											</div>
										</div>
									</div>
								</div>
								<!-- /Appointment List -->
                                {% endfor %}
								
								
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
{% endblock content %}