{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
			
				
				
			</div>
			
			<div class="col-md-12 col-lg-8 col-xl-9">

				<!-- Doctor Widget -->
				{% for doctor in doctors %}
				<div class="card">
					<div class="card-body">
						<div class="doctor-widget">
							
							<div class="doc-info-left">
								<div class="doctor-img">
									<a href="{% url 'profile' doctor.id %}">
										<img src="{{ doctor.profile_image.url }}" class="img-fluid" alt="User Image">
									</a>
								</div>
								<div class="doc-info-cont">
									<h4 class="doc-name"><a href="{% url 'profile' doctor.id %}">Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</a></h4>
									<p class="doc-speciality"></p>
									<h5 class="doc-department"></h5>
									
									<div class="clinic-booking">
										<a class="view-pro-btn" href="{% url 'profile' doctor.id %}">View Profile</a>
										<a class="apt-btn" href="{% url 'booking' doctor.id %}">Book Appointment</a>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

	</div>

</div>		
<!-- /Page Content -->
{% endblock content %}