{% extends "base.html" %}
{% block content %}
  <!-- Page Content -->
<div class="content">
    <div class="container-fluid">
    
    <div class="row">
        {% include 'users/doctorsidenav.html' %}
        
        <div class="col-md-7 col-lg-8 col-xl-9">
         
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        
                                    <!-- Schedule Content -->
                                    <div class="schedule-cont">
                                    
                                        <!-- Sunday Slot -->
                                       
                                        <div id="slot_monday" class="tab-pane fade show">
                                            <h4 class="card-title d-flex justify-content-between">
                                                <span>Time Slots</span> 
                                                <!-- <a class="edit-link btn" data-toggle="modal" href="#" data-target="#edit_time_slot"><i class="fa fa-edit mr-1"></i>Edit</a> -->
                                            </h4>

                                        <div class="col-md-12">
                                            <form action="{% url 'schedule_timing' doctor.id %}" method="POST">
                                                {% csrf_token %}
                                            <div class="form-row">
 
                                                <!-- <input type="hidden" value="monday" name="day"> -->
                                                <div class="col-md-3 mb-3">
                                                    <label for="">From</label>
                                                    <select class="form-control" name="time_from" id="">
                                                        <option selected="true" disabled="disabled">Time From</option>
                                                        {% for key, value in fromTimeChoice.items %}
                                                            <option value="{{key}}">{{value}}</option>
                                                        {% endfor %}
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">To</label>
                                                    <select class="form-control" name="time_to" id="">
                                                        
                                                        <option selected="true" disabled="disabled">Time to</option>
                                                        {% for key, value in toTimeChoice.items %}
                                                            <option value="{{key}}">{{value}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">Date</label>
                                                    <input type="date" class="form-control" name="appointment_date">
                                                </div>
                                                <div class="col-md-2" style="margin-top: 35px;">
                                                    <button type="submit" class="btn btn-primary submit-btn ">Save</button>
                                                </div>
                                                
                                            
                                            </div>
                                            </form>
                                        </div>
                                            
                                           
                                        </div>
                                        
                                    </div>
                                    <!-- /Schedule Content -->
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    
</div>
    
 </div>		
    <!-- /Page Content -->





{% endblock content %}