<!-- patients/manage_emergency_contact.html -->

{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- Your navigation/sidebar code here (if any) -->

        <div class="col-md-7 col-lg-8 col-xl-9">
          <div class="card">
            <div class="card-body">
              <!-- Emergency Contact Form -->
              <form action="{% url 'manage_emergency_contact' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
