{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container-fluid">

        <div class="row">
            {% include 'users/patientsidenav.html' %}
            <!-- / Profile Sidebar -->

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">

                        <!-- Profile Settings Form -->
                        <form action="{% url 'patients_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row form-row">

                                <div class="col-12 col-md-12">
                                    <div class="form-group">
                                        <div class="change-avatar">
                                            <div class="profile-img">
                                                <img src="{{patient.profile_image.url}}" alt="User Image">
                                            </div>
                                            <div class="upload-img">
                                                <div class="change-photo-btn">
                                                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                    {{ form.profile_image }}
                                                </div>
                                                <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" value="{{patient.user.first_name}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <input type="text" class="form-control" value="{{patient.user.last_name}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Email ID</label>
                                        <input type="email" class="form-control" value="{{patient.user.email}}">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Mobile</label>
                                        <input type="text" value="{{patient.user.phone_number}}" class="form-control">
                                    </div>
                                </div>
                              
        
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date of Birth</label>
                                        <div class="">
                                            <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth" value="{{ patient.date_of_birth|date:'Y-m-d' }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="text" value="{{ patient.age_years }}" class="form-control" id="ageDisplay" readonly>
                                    </div>
                                </div>
                                
                              

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Blood Group</label>
                                        <select class="form-control select" name="blood_group">
                                            <option>A-</option>
                                            <option>A+</option>
                                            <option>B-</option>
                                            <option>B+</option>
                                            <option>AB-</option>
                                            <option>AB+</option>
                                            <option>O-</option>
                                            <option>O+</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select class="form-control select" name="gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Address</label>
                                        {{ form.address }}
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>City</label>
                                        {{ form.city }}
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Country</label>
                                        {{ form.country }}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /Page Content -->



<script>
    // Function to calculate age based on date of birth
    function calculateAge() {
        // Get the date of birth input value
        const dateOfBirthInput = document.getElementById('dateOfBirth').value;

        if (dateOfBirthInput) {
            // Convert the date of birth to a Date object
            const dob = new Date(dateOfBirthInput);
            // Get the current date
            const currentDate = new Date();

            // Calculate the age
            const age = currentDate.getFullYear() - dob.getFullYear();

            // Display the age in the ageDisplay span
            document.getElementById('ageDisplay').textContent = `${age} years`;
        } else {
            // If no date of birth is entered, clear the ageDisplay
            document.getElementById('ageDisplay').textContent = '';
        }
    }

    // Attach the calculateAge function to the input's change event
    document.getElementById('dateOfBirth').addEventListener('change', calculateAge);

    // Calculate age initially if date of birth is pre-filled
    calculateAge();
</script>
<!-- /JavaScript code -->

{% endblock content %}
