{% load static %}


<!-- Footer -->
<footer class="footer">
    
    {% load static %}
    
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
    
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                            <div class="footer-logo">
                                <h2 class="footer-title">Healthcare Hub</h2>
                            </div>
                            <div class="footer-about-content">
                                <p>Your Trusted Healthcare Partner</p>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
    
                    </div>
    
                    <div class="col-lg-3 col-md-6">
    
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Patients</h2>
                            <ul>
                                <li><a href="search.html"><i class="fas fa-angle-double-right"></i> Find Doctors</a></li>
                                <li><a href="login.html"><i class="fas fa-angle-double-right"></i> Patient Login</a></li>
                                <li><a href="register.html"><i class="fas fa-angle-double-right"></i> Register as a Patient</a></li>
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
    
                    </div>
    
                    <div class="col-lg-3 col-md-6">
    
                        <!-- Footer Widget -->
                        <div class "footer-widget footer-menu">
                        <h2 class="footer-title">Doctors</h2>
                            <ul>
                                <li><a href="appointments.html"><i class="fas fa-angle-double-right"></i> Appointments</a></li>
                                <li><a href="chat.html"><i class="fas fa-angle-double-right"></i> Doctor-Patient Chat</a></li>
                                <li><a href="login.html"><i class="fas fa-angle-double-right"></i> Doctor Login</a></li>
                                <li><a href="doctor-register.html"><i class="fas fa-angle-double-right"></i> Register as a Doctor</a></li>
                            </ul>
                        </div>
    
                    </div>
    
                    <div class="col-lg-3 col-md-6">
    
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                            <h2 class="footer-title">Contact Us</h2>
                            <div class="footer-contact-info">
                                <div class="footer-address">
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p>Nairobi, Kenya<br>
                                    PO Box 37791 GPO,</p>
    
                                </div>
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    +254 700000000
                                <p class="mb-0">
                                    <i class="fas fa-envelope"></i>
                                    info@healthcarehub.com
                                </p>
                            </div>
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="copyright text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p>&copy; 2023 Healthcare Hub. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    
    </footer>
    
    