{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
    /* Your custom styles here */
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            {% include 'users/patientsidenav.html' %}

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <h1>Medical History Details</h1>
                        <body>
                           
                            <p>Condition Name: {{ medical_history.condition_name }}</p>
                            <p>Diagnosis Date: {{ medical_history.diagnosis_date }}</p>
                            <p>Is Current: {{ medical_history.is_current }}</p>
                        
                            <h2>Treatment Records</h2>
                            <ul>
                                {% for treatment_record in medical_history.treatment_records.all %}
                                    <li>
                                        Prescribed Medication: {{ treatment_record.prescribed_medication }}<br>
                                        Dosage: {{ treatment_record.dosage }}<br>
                                        Start Date: {{ treatment_record.start_date }}<br>
                                        End Date: {{ treatment_record.end_date }}<br>
                                        Monitoring Schedule: {{ treatment_record.monitoring_schedule }}<br>
                                        Results: {{ treatment_record.results }}<br>
                                        Date Recorded: {{ treatment_record.date_recorded }}<br>
                                    </li>
                                {% endfor %}
                            </ul>
                        </body>
                        </html>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}





<!-- templates/your_app/medical_history_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Medical History Details</title>
    <!-- Add your styling and CSS links here if needed -->
</head>
<body>
    <h1>Medical History Details</h1>
    <p>Condition Name: {{ medical_history.condition_name }}</p>
    <p>Diagnosis Date: {{ medical_history.diagnosis_date }}</p>
    <p>Is Current: {{ medical_history.is_current }}</p>

    <h2>Treatment Records</h2>
    <ul>
        {% for treatment_record in medical_history.treatment_records.all %}
            <li>
                Prescribed Medication: {{ treatment_record.prescribed_medication }}<br>
                Dosage: {{ treatment_record.dosage }}<br>
                Start Date: {{ treatment_record.start_date }}<br>
                End Date: {{ treatment_record.end_date }}<br>
                Monitoring Schedule: {{ treatment_record.monitoring_schedule }}<br>
                Results: {{ treatment_record.results }}<br>
                Date Recorded: {{ treatment_record.date_recorded }}<br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
