{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  .display {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form {
    margin-bottom: 20px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  h2, h3 {
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  .counter {
    color: #777;
    margin-top: 10px;
  }
</style>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      {% include 'users/patientsidenav.html' %}

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <h2>Health Goals</h2>

            <!-- Add Health Insurance Form -->
            <div class="display">
              <a href="{% url 'add_health_goal' %}">
                <i class="fas fa-plus-circle"></i> Add Health Goals
              </a>
            </div>

            <!-- Health Insurance List -->
            <h2 class="text-center mb-4">Health Goals</h2>
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Target Date</th>
                  <th>Progress</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              
                {% for health_goal in health_goals %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ health_goal.goal_description }}</td>
                    <td>{{ health_goal.target_date }}</td>
                    <td>{{ health_goal.progress }}%</td>
                    <td>{{ health_goal.get_status_display }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <p class="counter">Total Health Goals: {{ health_goals|length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
