{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  .display {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  form {
    margin-bottom: 20px;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }

  h2, h3 {
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #4caf50;
    color: white;
  }

  .counter {
    color: #777;
    margin-top: 10px;
  }
</style>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      {% include 'users/patientsidenav.html' %}

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <h2>Health Insurance</h2>

            <!-- Add Health Insurance Form -->
            <div class="display">
              <a href="{% url 'add_health_insurance' %}">
                <i class="fas fa-plus-circle"></i> Add Health Insurance
              </a>
            </div>

            <!-- Health Insurance List -->
            <h3>Health Insurance List:</h3>
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Policy Member ID</th>
                  <th>Group Number</th>
                  <th>Coverage Dates</th>
                  <th>Contact Information</th>
                  <th>Policy Holder Name</th>
                  <th>Policy Holder Relationship</th>
                  <th>Insurance Card Image</th>
                </tr>
              </thead>
              <tbody>
              
                {% for health_insurance in health_insurances %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ health_insurance.policy_member_id }}</td>
                    <td>{{ health_insurance.group_number }}</td>
                    <td>{{ health_insurance.coverage_dates }}</td>
                    <td>{{ health_insurance.contact_information }}</td>
                    <td>{{ health_insurance.policy_holder_name }}</td>
                    <td>{{ health_insurance.policy_holder_relationship }}</td>
                    <td>{{ health_insurance.insurance_card_image }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <p class="counter">Total Health Insurances: {{ health_insurances|length }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
