{% extends 'base.html' %}

{% block content %}
<style>
    /* Your custom styles here */

    h2 {
        color: #333;
    }

    .content {
        margin-top: 20px;
    }

    form {
        width: 70%;
        margin: auto;
    }

    label {
        display: block;
        margin-top: 10px;
    }

    .submit-btn {
        margin-top: 15px;
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row">

            {% include 'users/patientsidenav.html' %}

            <div class="col-md-7 col-lg-8 col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <h2>Add Lifestyle Details</h2>
                        <form method="post">
                            {% csrf_token %}
                            {{ exercise_form.as_p }}
                            {{ dietary_form.as_p }}
                            {{ smoking_form.as_p }}
                            {{ alcohol_form.as_p }}
                            {{ medications_form.as_p }}
                            {{ lifestyle_form.as_p }}
                            <button type="submit" class="btn btn-primary submit-btn">Save Lifestyle Details</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
