<!-- upload_file.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h2>Upload File for {{ additional_user.creator.username }}</h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload File</button>
    </form>

    <h3>Uploaded Files</h3>
    <table>
        <thead>
            <tr>
                <th>Date Uploaded</th>
                <th>File Name</th>
                <th>View</th>
            </tr>
        </thead>
        <tbody>
            {% for file_upload in additional_user.file_uploads.all %}
            <tr>
                <td>{{ file_upload.upload_date }}</td>
                <td>{{ file_upload.file.name }}</td>
                <td><a href="{{ file_upload.get_file_url }}" target="_blank">View</a></td>
                <td><a href="{% url 'view_file' file_upload.id %}" target="_blank">View</a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
