
{% extends "base.html" %}
{% load static %}

{% block content %}

<style type="text/css" xmlns="http://www.w3.org/1999/html">
body, p{font-family: arial; font-size: 16px; }
p {margin: 0 0 5px;}
table td,table th{padding: 10px;text-align: left;}
@media print {
	p {margin: 0 0 5px; }
	table td,table th{padding: 10px;text-align: left;}
}
button{
	font-size: larger;
	box-sizing: border-box;
	padding: 10px;
}
input{
<!--  width: 200px;-->
  font-size: 20px;
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  min-width: 200px;
}
textarea{
  width: 200px;
  font-size: 20px;
  text-decoration: underline;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
<!--  min-width: 200px;-->
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    text-decoration: underline;
    color: black;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
input.dashed {
  border-bottom: 3px dashed black;
}
textarea.form-control {
  border-bottom: 3px dashed black;
}
</style>

<div class="page-wrapper" style="background-color: #eee;">
  <div class="content">
    <form method="post" id="nurse_notes">
      {% csrf_token %}
      <table style="width: 100%; max-width: 1024px; margin: 0 auto; border-collapse: collapse;" width="100%">
	<tr style="border-bottom:2px solid #eee;">
		<td>
			<table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
        <tr>
            <td> <h1>Discharge</h1>
            </td>
        </tr>
    </table>
		</td>
	</tr>
	    <tr >
		    <td>
                <table style="width: 100%;max-width: 1024px;margin: 0 auto;border-collapse: collapse;" width="100%">
                    <tr>
                        <td colspan="6" style="text-align:center;border-bottom: 1px solid #222;"><h3 style="margin: 0;"><b>PATIENT DISCHARGE FORM</b></h3></td>
                    </tr>
                   <tr style="background-color: #eee;">
                         <th style="background-color:#eee;">Facility</th>
                        <td><input type="text" name="facility" class="dashed" style="width:200%" ></td>
                        <th style="background-color: #eee;"></th>
                        <td></td>
                        <th style="background-color: #eee;">Date/Time</th>
                        <td><input class="dashed" type="text" name="date_time" ></td>
                   </tr>

                    <tr style="background-color: #eee;">
                        <th style="background-color:#eee;">Patient name</th>
                        <td><input type="text" name="patient_name" class="dashed" ></td>
                         <th style="background-color: #eee;">Age</th>
                        <td><input  class="dashed" type="text" name="age"></td>
                        <th style="background-color: #eee;">Gender</th>
                        <td><input class="dashed" type="text" name="gender" ></td>
                    </tr>
                    <tr>
                        <th style="background-color: #eee;">Date of Addmission</th>
                        <td><input class="dashed" type="text" name="gender" ></td>
                      <th style="background-color: #eee;"></th>
                        <td></td>
                        <th style="background-color: #eee;">Date of Dischrge</th>
                        <td><input  class="dashed" type="text" name="stage"></td>
                    </tr>
                    <tr>
                        <th style="background-color: #eee;">Discharge Diagnosis</th>
                    </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                  </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                  </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                    </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                    </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                    </tr>
                  <tr>
                        <td><input class="dashed" type="text" name="histology" style="width:400%"></td>
                    </tr>
                    <tr>
                        <th style="background-color: #eee;">Procedures & Therapies </th>
                        <td ><input  class="dashed" type="text" name="drugs" ></td>
                    </tr>
                      <tr>
                        <th style="background-color: #eee;">Complications</th>
                        <td><input  class="dashed" type="text" name="dose_m2" ></td>
                    </tr>
                      <tr>
                        <th style="background-color: #eee;">Consultantions</th>
                        <td><input  class="dashed" type="text" name="dose_m2" ></td>
                    </tr>
                    <tr>
                      <th style="background-color: #eee;"><b>Partient History</b></th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                    <tr>
                        <td><input class="dashed" type="text" name="notes" style="width:414%"></td>
                    </tr>
                    <tr>
                        <td><input class="dashed" type="text" name="notes" style="width:414%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;"><b>Lab</b></th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                    <tr>
                      <th style="background-color: #eee;"><b>Condition of Discharge</b></th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;">Dispositions</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;">Discharge to</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;">Diet</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;">Activity</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;">DME</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr> <tr>
                      <th style="background-color: #eee;">Home Health Services</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                   <tr>
                      <th style="background-color: #eee;"><b>Lab</b></th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                    <tr>
                      <th style="background-color: #eee;">F/U apts</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>
                    <tr>
                      <th style="background-color: #eee;">Meds</th>
                        <td><input class="dashed" type="text" name="notes" style="width:300%"></td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary" form="nurse_notes" value="Save">Save</button>
  </form>
    <button><a class="dropdown-item btn-primary" id="download-button" type="button" onclick="printDiv('nurse_notes')">Print</a></button>

  </div>
</div>

<script>
  function printDiv(divName) {
    var printContents = document.getElementById(divName).cloneNode(true);
    var inputs = printContents.querySelectorAll("input.dashed");
    inputs.forEach(function(input) {
      var replacement = document.createElement("span");
      replacement.className = "dashed";
      replacement.style.borderBottom = "3px dashed black";
      replacement.innerText = input.value;
      input.parentNode.replaceChild(replacement, input);
    });

    var printWindow = window.open('', '_blank');
    printWindow.document.write('<html><head><title>Print</title></head><body>');
    printWindow.document.write(printContents.innerHTML);
    printWindow.document.write('</body></html>');

    printWindow.document.close();
    printWindow.print();
    printWindow.close();


    // Redirect to the patient dashboard
    window.location.href = "{% url 'patient_dashboard' %}";
  }
  
  

</script>
{% endblock %}

