
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <!-- Profile Sidebar -->
    <div class="profile-sidebar">
        <div class="widget-profile pro-widget-content">
            <div class="profile-info-widget">
                <a href="#" class="booking-doc-img">
                    {% if doctor.profile_image %}
                        <img src="{{ doctor.profile_image.url }}" alt="User Image">
                    {% else %}
                        <img src="#" alt="User Image">
                    {% endif %}
                </a>
                <div class="profile-det-info">
                    <h3>Dr. {{doctor.user.first_name}} {{ doctor.user.last_name }}</h3>
                   
                    {% if specialization %}
                        {% for i in specialization %}
                        <div class="patient-details">
                            <small class="mb-0" style="display: inline;">{{ i.doctor_category }}</small>
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="patient-details">
                        <h5 class="mb-0">empty</h5>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="dashboard-widget">
            <nav class="dashboard-menu">
                <ul>
                    <li class="active">
                        <a href="{% url 'doctor_dashboard' %}">
                            <i class="fas fa-columns"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                     
                    <li>
                        <a href="{% url 'doctor_profile' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Settings</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="{% url 'schedule_timing' doctor.id %}">
                            <i class="fas fa-hourglass-start"></i>
                            <span>Schedule Timings</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'doctor_dashboard' %}">
                            <i class="fas fa-calendar-check"></i>
                            <span>Appointments</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mypatients' %}">
                            <i class="fas fa-user-injured"></i>
                            <span>Patients</span>
                        </a>
                    </li>
                  
                  
                   
                    <li>
                        <a href="index-2.html">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
    <!-- /Profile Sidebar -->