
<!-- Profile Sidebar -->
<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
    <div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
        <div class="profile-info-widget">
            {% if patient.profile_image %}
                <a href="#" class="booking-doc-img">
                    <img src="{{ patient.profile_image.url }}" alt="User Image">
                </a>
            {% else %}
            <a href="#" class="booking-doc-img">
                <img src="#" alt="User Image">
            </a>
            {% endif %}
        <div class="profile-det-info">
            <h3>{{ patient.user.first_name }} {{patient.user.last_name}}</h3>
            <div class="patient-details">
                <h5> </h5>
                <h5 class="mb-0"></h5>
            </div>
        </div>
    </div>
    </div>
    <div class="dashboard-widget">
        <nav class="dashboard-menu">
            <ul>
                    <li class="active">
                        <a href="{% url 'patient_dashboard' %}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                   
                    <li>
                        <a href="{% url 'patients_profile' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Profile Informations</span>
                        </a>
                    </li>
                     <li>
                        <a href="{% url 'manage_emergency_contact' %}">
                            <i class="fas fa-user-cog"></i>
                            <span>Emergency Informations</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'add_healthcare_speciality' %}">
                            <i class="fas fa-calendar"></i>
                            <span>healthcare speciality </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_healthcare_experts' %}">
                            <i class="fas fa-calendar"></i>
                            <span>healthcare Expert</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'health_insurance_detail' %}">
                            <i class="fas fa-calendar"></i>
                            <span>health insurance detail</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'medical_history_list' %}">
                            <i class="fas fa-calendar"></i>
                            <span>medical history</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'medical_history_list' %}">
                            <i class="fas fa-calendar"></i>
                            <span>Lifestyle Information</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_history' patient.id %}">
                            <i class="fas fa-calendar"></i>
                            <span>Medications </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'view_medical_history' patient.id %}">
                            <i class="fas fa-calendar"></i>
                            <span>Billing & Payment </span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span>
                        </a>
                    </li>
            
            </ul>
        </nav>
        </div>
    
    </div>
    </div>
    <!-- / Profile Sidebar -->