<!-- users/user_details.html -->
{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
  /* Add any specific styles for user details page */
  .user-details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .user-details-table th, .user-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .user-details-table th {
    background-color: #4caf50;
    color: white;
  }

  .user-details-table td.first-column {
    width: 30%;
  }
  
  .user-details-row {
    margin-top: 20px;
  }
  
  .user-details-col {
    display: flex;
    justify-content: space-between;
  }

  .user-details-forms {
    margin-top: 20px;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
  }

  th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #ddd;
  }

  th {
      background-color: #f2f2f2;
  }

  td a {
      display: block;
      text-decoration: none;
      color: #007BFF;
  }

  td a:hover {
      color: #0056b3;
  }

  form {
      display: flex;
      align-items: center;
  }

  button {
      margin-left: 10px;
      padding: 8px 12px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      cursor: pointer;
  }

  button:hover {
      background-color: #0056b3;
  }
</style>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      {% include 'users/patientsidenav.html' %}

      <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
          <div class="card-body">
            <h1>User Details</h1>

            <!-- First Row: User Information -->
            <div class="user-details-row">
              <div class="user-details-col">
                <!-- First Column: Profile Pic, Name, Username, Email -->
                <div class="col-md-4">
                  <!-- Add user profile pic here -->

                  {% if user.profile_picture %}
                  <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="100%">
                {% else %}
                  <p>No profile picture available</p>
                {% endif %}
                  <p>{{ user.first_name }} {{ user.last_name }}</p>
                  <p>{{ user.username }}</p>
                  <p>{{ user.email }}</p>
                </div>
                <!-- Second Column: Gender, DOB, Phone, Street, City, Zip Code, Member Status, Created Date, AccountID -->
                <div class="col-md-8">
                  <p>Gender: {{ user.gender }}</p>
                  <p>Date of Birth: {{ user.date_of_birth }}</p>
                  <p>Phone: {{ user.phone_number }}</p>
                  <p>Street: {{ user.street }}</p>
                  <p>City: {{ user.city }}</p>
                  <p>Zip Code: {{ user.zip_code }}</p>
                  <p>Member Status: {% if user.is_active %}Active{% else %}Inactive{% endif %}</p>
                  <p>Created Date: {{ user.created_at }}</p>
                  <p>Account ID: {{ user.additional_user_id }}</p>
                </div>
              </div>
            </div>

           

    <h1>Add Facility and Upload File</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ facility_form.as_p }}
        {{ file_upload_form.as_p }}
        <button type="submit">Submit</button>
    </form>







  <!-- templates/users/user_details.html -->

 
{% comment %} 
    <div>
        <h3>Uploaded Files</h3>
        <table>
            <thead>
                <tr>
                    <th>Hospital</th>
                    <th>File</th>
                    <th>Details</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file_upload in file_uploads %}
                    <tr>
                        <td>{{ file_upload.facility.name }}</td>
                        <td>{{ file_upload.file.name }}</td>
                        <td>{{ file_upload.file_details }}</td>
                        <td>{{ file_upload.upload_date }}</td>
                        <td>
                            <a href="{% url 'upload_file' user_id=user.additional_user_id file_type='your_file_type' %}">Upload</a>
                            <a href="{{ file_upload.file.url }}" target="_blank">View</a>
                            <!-- Add other actions if needed -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div>
        <h3>Uploaded Files</h3>
        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Details</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for file_upload in file_uploads %}
                    <tr>
                        <td>{{ file_upload.file.name }}</td>
                        <td>{{ file_upload.file_details }}</td>
                        <td>{{ file_upload.upload_date }}</td>
                        <td>
                            <a href="{{ file_upload.file.url }}" target="_blank">View</a>
                            <!-- Add other actions if needed -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div> {% endcomment %}



          <div class="user-details-forms">
            <table class="user-details-table">
                <tr>
                    <th>Form Type</th>
                    <th>Generate PDF</th>
                    <th>Download</th>
                    <th>Upload</th>
                </tr>
        
                <tr>
                    <td> Doctor Notes</td>
                    <td><a href="{% url 'view_nursing_notes' additional_user_id=user.additional_user_id %}">View Nursing Notes</a></td>

                    {% comment %} <td><a href="{% url 'doctor_note_form' additional_user_id=user.additional_user_id %}">Doctor Notes</a></td> {% endcomment %}
                    <td>
                        {% if user.doctors_notes %}
                            <a href="{% url 'download_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}">Download</a>
                        {% endif %}
                    </td>
                    <td>
                      {% comment %} <a href="{% url 'upload_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}">
                          <button type="button">
                              <i class="fas fa-cloud-upload-alt"></i> Upload
                          </button>
                      </a> {% endcomment %}
                      {% comment %} <form id="uploadFormDoctorsNotes" method="post" action="{% url 'upload_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}" enctype="multipart/form-data">
                          {% csrf_token %}
                          {{ form.doctors_notes }}
                      </form> {% endcomment %}
                  
                      <script>
                          // Attach a click event listener to the button
                          document.querySelector('#uploadFormDoctorsNotes button').addEventListener('click', function() {
                              // Trigger the form submission when the button is clicked
                              document.getElementById('uploadFormDoctorsNotes').submit();
                          });
                      </script>
                  </td>
                </tr>
        
              
      
              <tr>
                  <td> Discharge Notes</td>
                  <td><a href="{% url 'doctor_note_form' additional_user_id=user.additional_user_id %}">Discharge Notes</a></td>
                  <td>
                      {% if user.doctors_notes %}
                          <a href="{% url 'download_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}">Download</a>
                      {% endif %}
                  </td>
                  <td>
                    {% comment %} <a href="{% url 'upload_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}">
                        <button type="button">
                            <i class="fas fa-cloud-upload-alt"></i> Upload
                        </button>
                    </a> {% endcomment %}
                    {% comment %} <form id="uploadForm" method="post" action="{% url 'upload_file' additional_user_id=user.additional_user_id file_type='doctors_notes' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.doctors_notes }}
                    </form> {% endcomment %}
                
                    <script>
                        document.querySelector('button').addEventListener('click', function() {
                            document.getElementById('uploadForm').submit();
                        });
                    </script>
                </td>
                  
    
                  </td>
              </tr>
        
            </table>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
