{% extends 'base.html' %}

{% block content %}
  <h2>Vitals History</h2>
  {% if vitals_records %}
    <table>
      <thead>
        <tr>
          <th>Date Recorded</th>
          <th>Temperature</th>
          <th>Heart Rate</th>
          <th>Blood Pressure (Systolic/Diastolic)</th>
          <th>Respiratory Rate</th>
          <th>Oxygen Saturation</th>
        </tr>
      </thead>
      <tbody>
        {% for record in vitals_records %}
          <tr>
            <td>{{ record.date_recorded }}</td>
            <td>{{ record.temperature }}</td>
            <td>{{ record.heart_rate }}</td>
            <td>{{ record.blood_pressure_systolic }} / {{ record.blood_pressure_diastolic }}</td>
            <td>{{ record.respiratory_rate }}</td>
            <td>{{ record.oxygen_saturation }}</td>

            <td>
              <a href="{% url 'print_vitals_pdf' record.id %}" target="_blank">Print</a>
              <a href="{% url 'update_vitals' record.id %}">Update</a>
              <a href="{% url 'delete_vitals' record.id %}">Delete</a>
          </td>
          
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No vitals records available.</p>
  {% endif %}
{% endblock %}
